pycache/
__pycache__/
*.pyc

# Egg-info directories
*.egg-info/

# Virtual environments
.test_venv/
.cvs_venv/
.ruff_venv/
.doc_venv/

# Documentation build output
docs/_build/
docs/sphinx/_toc.yml

# Build distributions
dist/
