name: CVS Aorta Benchmark

on:
  push:
    branches:
      - users/arravikum/aorta_benchmark
  workflow_dispatch:
    inputs:
      test_type:
        description: "Type of Benchmark test run"
        type: string
        required: true
        default: "Aorta Benchmark"
  pull_request:
    types:
      - labeled
      - opened
      - synchronize
      

permissions:
  contents: read

jobs:
  cvs-aorta-benchmark:
    name: cvs Aorta Benchmark Tests
    runs-on: linux-vultr-mi325-scale-runner
    steps:
      - name: Checkout TheRock repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: "ROCm/cvs"

      - name: Test Aorta Benchmark Tests
        shell: bash
        run: |
          cd /home/arravikum/cvs_aorta/cvs-sbatch
          ./run_direct.sh --cluster ./cluster_config.json --config ./config_aorta_test.yaml --test ../cvs/cvs/tests/benchmark/test_aorta.py




          